spotify_quixom/spotify_quixom/settings/dev.py
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
spotify_quixom/media/*
assets/*
spotify_quixom/assets/*
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
htmlcov/
.env
.vscode/*
spotify_quixom/docker-compose.yml
spotify_quixom/Dockerfile
spotify_quixom/conftest.py
AUTHORS.rst
.isort.cfg
.prettierrc.yml
.eslintrc.yml
.AUTHORS.rst
.procfile
.pytest.ini
.README.rst
.runtime.txt
.pre-commit-config.yaml
. flake8