spotify_quixom/spotify_quixom/settings/dev.py
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
spotify_quixom/media/*
assets/*
spotify_quixom/assets/*
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
htmlcov/
.env

.vscode/*
spotify_quixom/spotify_quixom/docker-compose.yml
spotify_quixom/spotify_quixom/Dockerfile
spotify_quixom/spotify_quixom/conftest.py

spotify_quixom/AUTHORS.rst
spotify_quixom/LINCENSE.rst
spotify_quixom/.procfile
spotify_quixom/.pytest.ini
spotify_quixom/.README.rst
spotify_quixom/.runtime.txt

.isort.cfg
.prettierrc.yml
.eslintrc.yml
.pre-commit-config.yaml
. flake8
env