{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
              <div class="form-outline datepicker">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" align="center">
                  Songs add playlist
                </h3>
  
                <form class="px-md-2" method="POST" id="my-form" novalidate>
                  {% csrf_token %}
                  
                  <div class="form-outline mb-4">
                    <div class="form-outline datepicker">
  
                      <label for="exampleDatepicker1" class="form-label">playlist name</label>
                      {{form.name}}
                      {% for error in form.name.errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  
                  {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                  {% endfor %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>



























<div class="form-outline mb-4">
    <div class="form-outline datepicker">

      <label for="exampleDatepicker1" class="form-label">Singer name</label>
      {{form.singer_name}}
      {% for error in form.singer_name.errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}