{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:50px">
    <div class="container-fluid" id="one">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBOiMACxUBQV4W7MwbSIOvArGCmsEtJA17ayn4-ybM&s"
        height="50px" width="10%" style="border-radius: 0.5em; margin-left: -9px;">
      <ul class="navbar-nav  mb-6 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
        <a id="favourite" href="{% url 'user_fav_song' %}"><i class="navbar-brand fa fa-heart fa-2x" style="color:red;"
          aria-hidden="true"></i></a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a name="person-outline" class="navbar-brand">{{user.username}}</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated%}
        {% else%}
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" href="{% url 'create_song' %}">Add song</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" href="{% url 'song_list' %}">Song list</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        {% else %}
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'singup' %}">Sing Up</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" href="{% url 'play_list' %}">Add Playlist</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="navbar-brand" aria-current="page" href="{% url 'show_playlist' %}">Playlist</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
    {% block content %}

    {% endblock %}
  </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>

</html>