{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/favourite_list.css' %}" />
<table class="table table-bordered" align="center">
    <button type="button" id="delete_master">Delete</button>
    <thead>
      <tr class="table-dark">
        <th scope="col">No.</th>
        <th scope="col">Song name</th>
      </tr>
    </thead>
    <tbody>
        {% for i in fav %}
        <tr>
            <td scope="row">{{forloop.counter}}</td>
            <td scope="row">
            {% for song_name in  i.songs.all %}
            <span>
            {{song_name}}<br>
            </span>
            {% endfor %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}