{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song_list.css' %}" />
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
  {{ message }}
</div>
{% endfor %}


<table class="table table-bordered" align="center">
  <thead>
    <tr class="table-dark">
      <th scope="col">No.</th>
      <th><input type="checkbox" class="select" id="all_select"></th>
      <th scope="col">Song name</th>
      <th scope="col">Singer name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for songs in song %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <th><input type="checkbox" class="select_row" id="select_row" name="checkbox" value="{{songs.id}}">{{songs.id}}</th>
      <td>{{songs.name}}</td>
      <td>{{songs.singer_name}}</td>
      <td><a class="btn btn-primary" href="{% url 'song_update' songs.id %}" id="btn_edit">Edit</a>
      </td>
      <td>
        <form action="{% url 'song_delete' songs.id %}" method="post">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit" id="selected" onclick="deleteData()">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script src="{% static 'js/song_mul_delete.js' %}"></script>
{% endblock %}