.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.col{
    max-width: 100%;
    margin-right: 100px;
}

.card{
    border-radius: 25px;
    max-height: 400px;
}
.card-body{
    height:min-content;
}

.form-style{
    margin-bottom: 300px;
}